<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <title>Aila's CRM</title>
  </head>

  <body>
    <div class="header-box">
      <img src="main-edit.jpg" alt="green leaves plant">
      <div class="header-title">
        <h2><%= @crm_app_name %></h2>
      </div>
    </div>

    <h3>Main Menu</h3>
      <div class="link-box">
        <a href="/contacts/new">
        <img src="add-edit.jpg" alt="green leaves plants"><p class="title">Add</p></a>
      </div>

      <div class="link-box">
        <a href="/contacts/edit">
        <img src="edit-edit.jpg" alt="green leaves plants"><p class="title">Edit</p></a>
      </div>

      <div class="link-box">
        <a href="/contacts/delete">
        <img src="delete-edit.jpg" alt="green leaves plants"><p class="title">Delete</p></a>
      </div>

      <div class="link-box">
        <a href="/contacts">
        <img src="display-edit.jpg" alt="green leaves plants"><p class="title">Display All</p></a>
      </div>
  </body>
  <footer>
    <p>&copy; Aila You 2015</p>
  </footer>
</html>

