<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <title>Aila's CRM</title>
  </head>

  <body>
    <div class="header-box">
      <img src="main-edit.jpg" alt="green leaves plant">
      <div class="title">
        <h2><span><%= @crm_app_name %></span></h2>
      </div>
    </div>

    <h3>Main Menu</h3>
      <div class="link-box">
        <a href="/contacts/new">
        <img src="add-edit.jpg" alt="green leaves plants"><h4>Add</h4></a>
      </div>

      <div class="link-box">
        <a href="/contacts/edit">
        <img src="edit-edit.jpg" alt="green leaves plants"><h4>Edit</h4></a>
      </div>

      <div class="link-box">
        <a href="/contacts/delete">
        <img src="delete-edit.jpg" alt="green leaves plants"><h4>Delete</h4></a>
      </div>

      <div class="link-box">
        <a href="/contacts">
        <img src="display-edit.jpg" alt="green leaves plants"><h4>Display All</h4></a>
      </div>
  </body>
  <footer>
    <p>&copy; Aila You 2015</p>
  </footer>
</html>

