<h1>Create New Contact</h1>

<form action="/contacts" method="post">
  <div class="form-group form-group-sm">
    <label for="newInput">First Name</label>
    <input type="text" name="first_name" class="form-control" placeholder="First Name">
  </div>
  <div class="form-group form-group-sm">
    <label for="newInput">Last Name</label>
    <input type="text" name="last_name" class="form-control" placeholder="Last Name">
  </div>

  <div class="form-group form-group-sm">
    <label for="newInput">Email address</label>
    <input type="text" name="email" class="form-control" placeholder="email@example.com">
  </div>

  <div class="form-group form-group-sm">
    <label for="newInput">Notes</label>
    <input type="text" name="notes" class="form-control" placeholder ="Enter notes"
  </div>

  <div class="form-group form-group-sm">
    <label for="newInputFile">Profile Photo</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block"></p>
  </div>

  <button type="submit" class="btn btn-default">Add!</button>
</form>