/*---------------- CRM Stylesheet ----------------- */

.title {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.link-box {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h3 {
  text-align: center;
}

h4 {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}



footer {
  color: white;
  text-align: center;
  height:30px;
  margin-top:30px;
  padding:5px 0;
  width:100%;
}